/*nice colors
    green: #00AB6B
    dark-black: #1e272e
    white: #FFFAF0
*/
:root{
    --bg-color: #FFFAF0;
    --text-color: #000000;
    --tile-bg: #1E272E;
    --tile-text: white;
}
.dark-mode{
    --bg-color: #404040;
    --text-color: white;
    --tile-bg: #292929;
    --tile-text: white;
}
html,body{
    height:95%;
}
body{
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Anta";
}
header{
    display:flex;
    justify-content: center;
}
.tile {
    background-color: var(--tile-bg);
    color: var(--tile-text);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.empty{
    background-color: transparent;
    cursor: default;
}
.win{
    background-color:#00AB6B;
}
#game-container{
    display:grid;
    place-content: center;
    row-gap: 10px;
    user-select: none;
}
#puzzle-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
    height: 400px;
    gap: 5px;
}
#counters {
    display:inline-grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
}
#counters > p{
    min-width: 100px;
}
#buttons{
    display: inline-grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
}

#best-results{
    display: inline-grid;
    width: 400px;
    place-items: center;
    grid-template-columns: 1fr 2fr 2fr;
}

.button {
    background-color: var(--tile-bg);
    color: var(--tile-text);  
    padding: 0.375rem 0.625rem;
    font-size: 0.875rem; 
    font-weight: 600; 
    border-radius: 0.375rem; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    border: 1px solid rgba(0, 0, 0, 0.15); 
}
  
.button:hover {
    background-color: var(--bg-color);
    color: var(--text-color); 
}